

#h3{
padding-top: 5%;
}

#p, #h3{
   padding-left: 20%;
 
}
#p:hover{
   color:black;
}

.x{
   width: 100%;
   padding: 0; margin: 0;
}
.y{

width:100%;
height: 500px;
background-color:white;
}
.p{

background-color: white;
height: 33%;
}
.q {
    
   background-color: white;
   height: 33%;
   
}
.r {
  
   background-color: white;
   height: 33%;
}

.container{
   padding: 0;
   margin: 0;
   width: 100%;
}
.container {
   padding: 0;
   margin: 0;
   width: 100%;
}

