.GroupLeading{
    padding:0;margin:0;
    width:100%; height:auto;
    
}

.twoitem {
    width: 100%;
    height: auto;
    justify-content: center;
    padding-left: 15%;
    padding-top: 50px;
}

.oneitem {
    width: 100%;
    height: auto;
    justify-content: center;
    padding-left: 15%;
    padding-top: 50px;
}

.oneitem h1  {
    color: darkgoldenrod;
    width: 100%;

    font-size: 60px;
}







h1:hover {
    color: black;
    font-size: 60px;
}

p:hover {
    color: black;
}

@media (max-width:550px){

    .twoitem {
        width: 100%;
        height: auto;
        justify-content: center;
        padding-top: 50px;
    }

    .oneitem {
        width: 100%;
        height: auto;
        justify-content: center;
        padding-left: 15%;
        padding-top: 50px;
    }

  
}


  
